@model IEnumerable<EventApp.Models.Events>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Event Web App - Find your next event here.";
    int count = 0;
    bool isAdmin = User.IsInRole("Admin");
    bool isDeveloper = User.IsInRole("Developer");
    int maxEventId = 0;
    if (Context.Session.GetString("maxEventId")!=null)
    {
        maxEventId = int.Parse(Context.Session.GetString("maxEventId"));
    }
    var eventLink = Model.FirstOrDefault(a => a.EventId == maxEventId).EventLink;
    var date = Model.FirstOrDefault(a => a.EventDate == a.EventDate).EventDate.ToLongDateString();
}

<div class="row">

    <h1 style="padding: 0.8em 0 0.5em 0;  font-size: 300%;" class="font-weight-bold text-uppercase text-primary text-center">@ViewData["Title"] </h1><hr />

    <div class="container">
        <div class="col-md-7">
            <img class="img-responsive center-block" src="@Model.SingleOrDefault(a=>a.EventId == maxEventId).GetPicture()" alt="The event" width="500">
        </div>
        <div class="col-md-5 text-center">
            <h3 class="font-weight-bold text-uppercase text-primary text-center">@Model.SingleOrDefault(a => a.EventId == maxEventId).EventTitle </h3><br />
            <p class="font-weight-bold text-uppercase text-primary text-center">Event Details:</p> @Model.SingleOrDefault(a => a.EventId == maxEventId).EventDescription <br /><br />
            <p class="font-weight-bold text-uppercase text-primary text-center">Event Date:</p> @date <br /><br />
            <p class="font-weight-bold text-uppercase text-primary text-center">Where is it?</p> @Model.SingleOrDefault(a => a.EventId == maxEventId).EventAddress <br /><br />
            <p class="font-weight-bold text-uppercase text-primary text-center">Who should I ask a question?</p> @Model.SingleOrDefault(a => a.EventId == maxEventId).EventContact<br /><br />

            @if (eventLink != null)
            {
                <p class="font-weight-bold text-uppercase text-primary text-center">Event Link:</p> <a href="@eventLink" target="_blank" class="btn btn-outline-success">Click Here</a>
            }
        </div>
    </div>
    <br /><hr />
</div>

<div class="row">

    <h2 class="font-weight-bold text-uppercase text-primary text-center">Click here to check the other events</h2><br />

    @foreach (var item in Model)
    {
        if (count<3)
        {

        <div class="col-md-4 text-center">
            <a asp-controller="Event" asp-action="Details" asp-route-id="@item.EventId">
                <img src="@item.GetPicture()" alt="Event Picture" width="380px" height="220px" />
                <h3 class="">@item.EventTitle</h3>
            </a>
            <a asp-controller="Event" asp-action="Details" asp-route-id="@item.EventId" class="btn btn-outline-info">Event Details</a>

            <br /><br />
        </div>
            count++;
        }

        
    }


</div>

